/* _buttons.scss */
@import '../abstract/colours';
@import '../abstract/helpers';


.vctr-button-primary {
    &.btn {
        @include button-base;
        @include button-rounded;

        min-width: $button-minimum-width;

        color: $button-primary-color;
        border-color: $button-primary-border-color;
        background-color: $button-primary-background-color;

        /*&:focus {
            border-color: $button-primary-border-color-focus;
            outline: none;
            background-color: $button-primary-background-color-hover;
        }*/
        
        &:hover,
        &:active,
        &:focus {
            border-color: $button-primary-background-color-hover;
            background-color: $button-primary-background-color-hover;
            opacity:1;
        }
    }

    &.vctr-wide-button{
        padding:12px 50px 12px;
        font-size:14px;
        height:45px;
            @media (max-width: $screen-xs-tall-max){
            width:100%;
        }
    } 
    &.vctr-ghost-button{
        padding:12px 50px 12px;
        font-size:14px;
        background-color:transparent;
        border:2px solid $white;
        height:45px;
            @media (max-width: $screen-xs-tall-max){
            width:100%;
        }
        &:hover,
        &:focus,
        &:active{
            opacity:0.5;
            background-color:transparent;
            border:2px solid $white;
        }
    } 
}


.vctr-button-secondary {
    &.btn {
        @include button-base;
        @include button-rounded;

        min-width: $button-minimum-width;

        color: $button-secondary-color;
        border-color: $button-secondary-border-color;
        background-color: $button-secondary-background-color;
       
        /*&:focus {
            border-color: $button-secondary-border-color-focus;
            outline: none;
            background-color: $button-secondary-background-color-hover;
        }*/

        &:hover,
        &:active,
        &:focus {
            border-color: $button-secondary-border-color-hover;
            background-color: $button-secondary-background-color-hover;
            opacity:1;
        }
    }
}


.vctr-button-tertiary {
    &.btn {
        @include button-base;
        @include button-rounded;

        font-size: $button-small-font-size;

        min-width: $button-minimum-width;
        padding-right: 26px;
        padding-left: 26px;

        color: $button-tertiary-color;
        border-color: $button-tertiary-border-color;
        background-color: $button-tertiary-background-color;

        /*&:focus {
            border-color: $button-tertiary-border-color-focus;
            outline: none;
            background-color: $button-tertiary-background-color-hover;
        }*/

        &:hover,
        &:focus,
        &:active {
            border-color: $button-tertiary-border-color-hover;
            background-color: $button-tertiary-background-color-hover;
            opacity:1;
        }
    }
}


.vctr-button-form-control {
    &.btn {
        @include button-base;
        padding: 12px;
        color: $button-tertiary-color;
        border-width: 1px;
        border-color: $button-tertiary-border-color;
        border-radius: 0;
        background-color: $button-tertiary-background-color;
        white-space: normal;

        /*&:focus {
            border-color: $button-tertiary-border-color-focus;
            background-color: $button-tertiary-background-color-hover;
        }*/

        &:hover,
        &:focus,
        &:active {
            border-color: $button-tertiary-border-color-hover;
            background-color: $button-tertiary-background-color-hover;
            opacity:1;
        }

        &.vctr-button-active {
            color: $button-active-color;
            border-color: $button-active-border-color;
            background-color: $button-active-background-color;

            &:hover,
            &:focus,
            &:active {
                border-color: $button-active-border-color-hover;
                background-color: $button-active-background-color-hover;
                opacity:1;
            }
        }
    }
}

.vctr-button-image {
    &.btn {
        font-size: .85em;

        text-transform: uppercase;

        color: $button-image-color;
        background-color: $button-image-background-color;

        &:focus,
        &:hover,
        &:active {
            color: $button-image-color-hover;
            outline: none;
            background-color: $button-image-background-color-hover;
            box-shadow: none;
        }
    }

    &.btn-form-inline {
            margin-top:2em;
        }

    .vctr-button-icon {
        vertical-align: middle;
    }
    
    .vctr-button-image-text {
        font-size: 20px;

        margin-top: 1em;

        color: $button-tertiary-color;
    }

    .vctr-content-buttons & {
        padding-left: 0;
    }
}

.vctr-button-help {
    color: $help-button-color;
    background-color: $button-image-background-color;

    &:focus {
        outline: none;
    }

    &:hover,
    &:active {
        color: $button-image-color-hover;
        outline: none;
        background-color: $button-image-background-color-hover;
        box-shadow: none;
    }

    .vctr-button-icon {
        vertical-align: 10%;
    }

    .vctr-form-help & {
        margin-top: -10px;
        margin-bottom: -6px;
        padding-top: 0;
        padding-bottom: 0;
    }

}

.vctr-button-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

