/* _content.scss */

@import "../abstract/variables";
@import "../abstract/colours";
@import "../abstract/helpers";


/* Add here content styling */
.vctr-outages-header{
    margin-bottom:25px;

    .vctr-map-back-wrapper{
        float:left;
        a{
                margin-top: 50px;
            @media (max-width: $screen-xs-tall-max){
                margin-top:0;
            }
        }
    }

    .vctr-map-title-wrapper{
        float:left;
        @media (max-width: $screen-xs-tall-max){
            width:80%;
        }
    }
    h1{
        @include heading;
        margin-top:50px;
        margin-bottom:5px;
        line-height:36px;
        @media (max-width: $screen-xs-tall-max){
            margin-top:0;
            width:85%;
        }
    }

    h2{
        @include feature-paragraph;
        text-transform:capitalize;
        margin-top:0;
    }

    .vctr-outages-back-button{
        width:30px;
        height:30px;
        margin-right:20px;
        display:inline-block;
        @include background-center-contain;
        background-image:url('../Images/vctr-back.svg');
        vertical-align:top;
    }
}

.vctr-outages-map-wrapper{
    position:relative;
    overflow:hidden;
    .infoBox{
        width:370px;
        height:320px;

        @media (max-width: $screen-xs-tall-max){
            width:93% !important;
            max-width:370px;
            height:240px;
        }
        padding: 20px;
        border-top:10px solid $content-primary-color;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);

        > img{
            position:absolute !important;

            top: -32px;
            right: -27px;
            content: url('../images/vctr-close-modal-icon.svg');
            width:50px;
            height:50px;

             @media (max-width: $screen-xs-tall-max){
                width:40px;
                height:40px;
                top: -27px;
                right: -14px;
            }
        }
        &:before{
            position: absolute;
            bottom: 12px;
            left: 145px;
            width: 0;
            height: 0;
            border:none;
            content: '▼';
            color:#fff;
            transform: scaleX(2.5);
            font-size:32px;
            text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
            border-width: 0;
            border-style: none;
            border-color: none; 
        }

        .lightbox-google{
            font-family: Bryant, Arial, Helvetica, sans-serif !important;
            color:$content-primary-color;
            text-align:center;

            h4{
                @include caption;
                text-align:center;
           
                @media (max-width: $screen-xs-tall-max){
                    margin-top:5px;
                }
            }
            .time-header{
                margin-top:25px;
                margin-bottom:2px;
                @media (max-width: $screen-xs-tall-max){
                     margin-top:15px;
                }
            }

            .time{
                @include feature-paragraph;
                text-transform:uppercase;
                text-align:center;
              
            }

            .vctr-wide-button{
                margin-top:25px;
               @media (max-width: $screen-xs-tall-max){
                    margin-top:15px;
                }
            }

        }


    }
    .vctr-outages-map{
        height:600px;
        @media (max-width: $screen-xs-tall-max){
            height:400px;
        }

    }
    #OutagesMapNoOutageOverlay{
        position:absolute;
        top:0;
        z-index:9;
        width:100%;
        height:600px;
        background-color:rgba(255,255, 255, 0.6);
        vertical-align:middle;
        h2{
            text-align:center;
            color:$content-primary-color;
            padding-top:360px;
            background-image:url('../images/vctr-tick-big-circle.svg');
            background-repeat:no-repeat;
            background-size:120px;
            background-position:center 220px;
             @media (max-width: $screen-xs-tall-max){
                text-align:center;
                padding-top:230px;
                background-position:center 85px;
            }
        }
        @media (max-width: $screen-xs-tall-max){
            height:350px;
        }
    }
}

.outage-summary{
    background-color:$athens-gray;
    border-top: solid 1px $geyser;
    margin-bottom:50px;

    .outage-item{
        width:33%;
        display:inline-block;
        border-right: solid 1px $geyser;
        padding: 35px 0;
        text-align:center;
        &:last-child{
            border-right:none;
        }
    }
    h6{
        text-transform:uppercase;
        margin-bottom:0;
    }
    h5{
        margin-top:0;
    }
    @media (max-width:$screen-sm-max){
        margin-bottom:20px;
        .outage-item{
            padding: 20px 0;
            width:100%;
            border: solid 1px $geyser;
            &:last-child{
                border-right:solid 1px $geyser;
            }
        }
    }
}
.outage-details, .outage-updates{
    font-family:Bryant;
    h6{
        width:30%;
        text-transform:uppercase;
        
    }
    h5{
        width:69%;
    }

    h5, h6{
        display:inline-block;
        vertical-align:top;
        margin-top:0;
        line-height:32px;
    }
    .vctr-outage-tab-item{
        margin-bottom:20px;
    }
    @media (max-width:$screen-sm-max){
        h5,h6{
            width:100%;
            text-align:center;
            line-height:24px;

        }
        .vctr-outage-tab-item{
            margin-bottom:15px;
        }
    }
}

.outage-updates{
    h5,h6{
       line-height:1.75rem;

    }
    h5{
        font-size:1.25rem;
    }
}


/*Outage Summary*/
.outage-container{
    width: 1138px;
    margin:auto;
    @media (max-width:$screen-lg-min){
        width:auto;
    }
}
