/* _reports.scss */

@import "../abstract/variables";
@import "../abstract/colours";
@import "../abstract/helpers";
.report{
    padding: 75px 0;
    p{
        @include paragraph;
    }
    .report-header{
        text-align:center;
        border-bottom:1px solid #83919b;
        margin:0 3px;
        padding-bottom:50px;
        h2{
            margin-top:30px;
        }
        h5{
            margin-bottom:30px;
        }
        .vctr-button-primary{
            color: $button-primary-color;
            border-color: $button-primary-border-color;
            background-color: $button-primary-background-color;
            font-size:14px;
            letter-spacing:1px;
            &:hover,
            &:focus,
            &:active {
            border-color: $button-primary-background-color-hover;
            background-color: $button-primary-background-color-hover;
            opacity:1;
            }
        }
    }
    .report-annual-report{
        padding-right:0;
        padding-left:0;
        margin-right: 12%;
    }
    .report-interim-report{
        padding-left:0;
        padding-right:0;
    }
    .report-annual-report, .report-interim-report{
        padding-top:50px;
        width: 44%;
        .report-annual-report-date, .report-interim-report-date{
            text-transform:uppercase;
            font-family: Bryant-Bold;
            font-size:18px;
        }
        h2{
            margin-top:0;
        }
    }

    .report-annual-report-links, .report-interim-report-links{
        margin-bottom:20px;
        color:$cerulean;

        a{
            padding:0 10px;
            font-size:24px;
            font-family: Bryant-Bold;
            border-right:2px solid $cerulean;
            color:inherit;
            &:hover{
                opacity:0.5;
                text-decoration:none;
            }
            &:first-child{
                padding-left:0;
            }
            &:last-child{
                border-right:none;
            }

        }

    }
    @media (max-width:$screen-sm-max){
        padding:20px 10px;
        .report-annual-report, .report-interim-report{
            width:100%;
        }
        .report-header{
            img{
                width:70px;
            }
        }
        .report-annual-report, .report-interim-report{
            padding:30px 5px;
            .report-interim-report-links, .report-annual-report-links{
                a{
                    font-size:16px;
                    padding:0;
                    border:none;
                }
            }

        }
     }
    @media (max-width:$screen-xs-tall-max){
        .vctr-button-primary{
            width:100%;
        }
    }
}